[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jedi = "*"
autopep8 = "*"

[packages]
certifi = "*"
chardet = "*"
idna = "*"
requests = "*"
selenium = "*"
urllib3 = "*"
lxml = "*"

[requires]
python_version = "3.11"
